html, body {
  height: 100%;
  width: 100%;
}
.bar{
  margin-top:50px;
  background-color:grey;
}
.head{
  display: flex;
  justify-content:center;
}
.container{
  margin-top:100px;
  display: flex;
  flex-direction:column;
  justify-content:center; 
   align-items:center;
}

.btn{
  border-radius:12px;
  width: 120px;
  height:30px;
}